{%extends "partials/base.html"%}
{%load static%}
{%block title%}Home{%endblock%}
{%block content%}

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>About Us</h2>
          <ol>
            <li><a href="{%url 'home'%}">Home</a></li>
            <li>About Us</li>
          </ol>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= About Section ======= -->
    <section class="about" data-aos="fade-up">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img src="{% static 'assets/img/2021_fieldcamp.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <h3>Who are we??</h3>
            <p class="fst-italic">
              SEGNAU is one of the student chapters of the Society Of Exploaration Geophysicist.
            </p>
            <ul>
              <li><i class="bi bi-check2-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              <li><i class="bi bi-check2-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
              <li><i class="bi bi-check2-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
            </ul>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section class="facts section-bg" data-aos="fade-up">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="1" class="purecounter"></span>
            <p>Awards</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="30" data-purecounter-duration="1" class="purecounter"></span>
            <p>Grants</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="6" data-purecounter-duration="1" class="purecounter"></span>
            <p>Sponsorships</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
            <p>Programs</p>
          </div>

        </div>

      </div>
    </section><!-- End Facts Section -->

    <!-- ======= Tetstimonials Section ======= -->
    <section class="testimonials" data-aos="fade-up">
      <div class="container">

        <div class="section-title">
          <h2>Chapter's Officers</h2>
          <p>The Nnamdi Azikiwe University Geophysical Society Of Nigeria since her establisment, has been blessed by various industrious and selfless officer yearly. currently, the association's most current officers are presented below. </p>
        </div>

        <div class="testimonials-carousel swiper">
          <div class="swiper-wrapper">
            <div class="testimonial-item swiper-slide">
              <img src="{% static 'assets/img/fa.jpg' %}" class="testimonial-img" alt="">
              <h3>Prof I.I Izuchukwu</h3>
              <h4>Faculty Adviceser</h4>
              <div class="social-links mt-1">
                <a href="https://twitter.com/seg_nau" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://www.linkedin.com/in/segnau" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>

            <div class="testimonial-item swiper-slide">
              <img src="{% static 'assets/img/naza.jpg' %}" class="testimonial-img" alt="">
              <h3>C.N Aruwkwe</h3>
              <h4>President Elect</h4>
              <div class="social-links mt-1">
                <a href="https://twitter.com/seg_nau" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://www.linkedin.com/in/segnau" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Aruwkwe is an undergradaute geologis. She currently the President elect of the SEGNAU chapter. Her main interest is in Environment and Hyrogeophysics.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>

            <div class="testimonial-item swiper-slide">
              <img src="{% static 'assets/img/nnemeka.PNG' %}" class="testimonial-img" alt="">
              <h3>Nnaemeka </h3>
              <h4>Vice President</h4>
              <div class="social-links mt-1">
                <a href="https://twitter.com/seg_nau" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://www.linkedin.com/in/segnau" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Nnaemeka is an undergraduate student at Nnamdi Azikiwe University. He is pursuing a Bachelor’s degree in Applied Geophysics. In addition, he has a keen interest in Hydrocarbon prospecting and Reservoir Geophysics.
Nnaemeka is an active member of SEG-NAU and has held several notable positions in the student Chapter. In his free time, Nnaemeka is a graphics designer and brand strategist. 

                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>

            <div class="testimonial-item swiper-slide">
              <img src="{% static 'assets/img/ezeoyema.PNG' %}" class="testimonial-img" alt="">
              <h3>E.C Chukwuezezie</h3>
              <h4>webmaster </h4>
              <div class="social-links mt-1">
                <a href="https://twitter.com/seg_nau" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://www.linkedin.com/in/segnau" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Ezeonyema is a Geoscientist and a geosciences researcher, currently serving as the webmaster of Nnamdi Azikiwe geophysical society. I am a committed volunteer and environmental sustainable enthusiast. Experience Research assistant, Lab. Assistant and intern with demonstrated history at ASTML
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>

            <div class="testimonial-item swiper-slide">
              <img src="{% static 'assets/img/me.jpg' %}" class="testimonial-img" alt="">
              <h3>G.E Nwafor</h3>
              <h4>Field Trip-Coordinator</h4>
              <div class="social-links mt-1">
                <a href="https://twitter.com/seg_nau" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://www.linkedin.com/in/segnau" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Nwafor Glory is an undergraduate Geophysicist. He has a keen interest in computation geoscience. Aside geoscience, he is a software developer.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>

            <div class="testimonial-item swiper-slide">
              <img src="{% static 'assets/img/manase.PNG' %}" class="testimonial-img" alt="">
              <h3>A. O Manasseh</h3>
              <h4>Media Officer</h4>
              <div class="social-links mt-1">
                <a href="https://twitter.com/seg_nau" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://www.linkedin.com/in/manasseh-anyaora-60262b222" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Manasseh is an undergraduate student of Geological sciences. He is an active researcher and an Environmental sustainability enthusiast with in-depth knowledge of geophysical softwares.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>

            <div class="testimonial-item swiper-slide">
              <img src="{% static 'assets/img/okenwa.PNG' %}" class="testimonial-img" alt="">
              <h3>O.E Peace</h3>
              <h4> Assistant Secretary </h4>
              <div class="social-links mt-1">
                <a href="https://twitter.com/seg_nau" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://www.linkedin.com/in/manasseh-anyaora-60262b222" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Peace is a passionate undergradaute geologist. She is an active member of NAPE/AAPG, SPE Nnamdi Azikiwe University chapter.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Ttstimonials Section -->

  </main><!-- End #main -->

  {%endblock%}