{%extends "partials/base.html"%}
{%load static%}
{%block title%}Home{%endblock%}
{%block content%}

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>About Us</h2>
          <ol>
            <li><a href="{%url 'home'%}">Home</a></li>
            <li>About Us</li>
          </ol>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= About Section ======= -->
    <section class="about" data-aos="fade-up">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img src="{% static 'assets/img/2021_fieldcamp.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <h3>Who are we??</h3>
            <p class="fst-italic">
              The Nnamdi Azikiwe University Geophysical Society is a geoscience community that is passionate and committed the bridging the gap between the geoscience industry and the academia. 
            </p>
            <h5>Brief history</h5>
            <p>
              The Nnamdi Azikiwe University Geophysical Society was re-established in 2016 by Mrs Vivian-Oguadinma Dike (Ph.D). Since its re-establishment, the chapter has grown from a pioneer membership of ten (10) student members to over two hundred (200) students and faculty members. 
            </p>
            <p>
              The chapter has been involved several activities that are aimed at creating awareness of the geosciences as well as equipping and training her members on the necessary skills for a geoscientist in this digital age.
            </p>
            <p>
              Some of these activities include field camps/field trips, physical and virtual excursions, nano conference, presentation series, outreach programs, research clusters as well as capacity-building workshops and trainings. 
            </p>
            <p>
              We also engage our members in socio-academic competitions to foster team work among them, thus preparing them for the broader demands of the geoscience workspace.
            </p>
            <p>
              As a chapter, one of our core values is the development of technical, research and intellectual competences of our chapter members. All these are made possible through the unending support of the SEG Foundation, highly esteemed faculty members and the chapter alumni.
            </p>
            <h5>The chapter’s achievements include</h5>
            <ul>
              <li><i class="bi bi-check2-circle"></i> 	Best Student Chapter (2022).</li>
              <li><i class="bi bi-check2-circle"></i> 	Best Student Chapter (2022)</li>
              <li><i class="bi bi-check2-circle"></i> 	Summit Level Student Chapter (2021 and 2022)</li>
              <li><i class="bi bi-check2-circle"></i> 	SEG Scholarship Awards (2016, 2020, 2021 and 2022)</li>
              <li><i class="bi bi-check2-circle"></i> 	SEG Student Chapter Outreach Grant Awards (2018, 2020 and 2021)</li>
              <li><i class="bi bi-check2-circle"></i> 	SEG Field Camp Grant Awards (2020, 2021 and 2022)</li>
              <li><i class="bi bi-check2-circle"></i> 	SEG/Chevron Students Leadership Symposium Travel Grant Awards (2018, 2021 and 2022)</li>
              <li><i class="bi bi-check2-circle"></i> 	SEG Geoscientists without Borders Grant Award (2021)</li>
            
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section class="facts section-bg" data-aos="fade-up">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="9" data-purecounter-duration="1" class="purecounter"></span>
            <p>Awards</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="1" class="purecounter"></span>
            <p>Grants</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="6" data-purecounter-duration="1" class="purecounter"></span>
            <p>Sponsorships</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
            <p>Programs</p>
          </div>

        </div>

      </div>
    </section>
    <!-- End Facts Section -->

    <!-- ======= Tetstimonials Section ======= -->
    <section class="testimonials" data-aos="fade-up">
      <div class="container">

        <div class="section-title">
          <h2>Chapter's Officers</h2>
          <p>The Nnamdi Azikiwe University Geophysical Society Of Nigeria since her establisment, has been blessed by various industrious and selfless officer yearly. currently, the association's most current officers are presented below. </p>
        </div>

        <div class="testimonials-carousel swiper">
          <div class="swiper-wrapper">
            <div class="testimonial-item swiper-slide">
              <img src="{% static 'assets/img/fa.jpg' %}" class="testimonial-img" alt="">
              <h3>Prof I.I Izuchukwu</h3>
              <h4>Faculty Adviceser</h4>
              <div class="social-links mt-1">
                <a href="https://twitter.com/seg_nau" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://www.linkedin.com/in/segnau" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>

            <div class="testimonial-item swiper-slide">
              <img src="{% static 'assets/img/naza.jpg' %}" class="testimonial-img" alt="">
              <h3>Chinazaekpere Mary Arukwe</h3>
              <h4>President </h4>
              <div class="social-links mt-1">
                <a href="https://twitter.com/seg_nau" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://www.linkedin.com/in/arukwechinazaekperemary" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Chinazaekpere Mary Arukwe is a fourth-year undergraduate student of Geological Sciences at the Nnamdi Azikiwe University Nigeria. She is a geoscience researcher with special interest in research that are directed towards environmental sustainability.
              </p>
            </div>

            <div class="testimonial-item swiper-slide">
              <img src="{% static 'assets/img/nnemeka.PNG' %}" class="testimonial-img" alt="">
              <h3>Nnaemeka </h3>
              <h4>Vice President</h4>
              <div class="social-links mt-1">
                <a href="https://twitter.com/seg_nau" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://www.linkedin.com/in/segnau" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Nnaemeka is an undergraduate student at Nnamdi Azikiwe University. He is pursuing a Bachelor’s degree in Applied Geophysics. In addition, he has a keen interest in Hydrocarbon prospecting and Reservoir Geophysics.

                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>

            <div class="testimonial-item swiper-slide">
              <img src="{% static 'assets/img/ezeoyema.PNG' %}" class="testimonial-img" alt="">
              <h3>E.C Chukwuezezie</h3>
              <h4>webmaster </h4>
              <div class="social-links mt-1">
                <a href="https://twitter.com/seg_nau" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://www.linkedin.com/in/segnau" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Ezeonyema is a Geoscientist and a geosciences researcher, currently serving as the webmaster of Nnamdi Azikiwe geophysical society. He is committed to volunteer and an environmental sustainable enthusiast. 
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>

            <div class="testimonial-item swiper-slide">
              <img src="{% static 'assets/img/me.jpg' %}" class="testimonial-img" alt="">
              <h3>G.E Nwafor</h3>
              <h4>Field Trip-Coordinator</h4>
              <div class="social-links mt-1">
                <a href="https://twitter.com/seg_nau" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://www.linkedin.com/in/segnau" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Nwafor Glory is an undergraduate Geophysicist. He has a keen interest in computation geoscience. Aside geoscience, he is a software developer.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>

            <div class="testimonial-item swiper-slide">
              <img src="{% static 'assets/img/manase.PNG' %}" class="testimonial-img" alt="">
              <h3>A. O Manasseh</h3>
              <h4>Media Officer</h4>
              <div class="social-links mt-1">
                <a href="https://twitter.com/seg_nau" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://www.linkedin.com/in/manasseh-anyaora-60262b222" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Manasseh is an undergraduate student of Geological sciences. He is an active researcher and an Environmental sustainability enthusiast with in-depth knowledge of geophysical softwares.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>

            <div class="testimonial-item swiper-slide">
              <img src="{% static 'assets/img/okenwa.PNG' %}" class="testimonial-img" alt="">
              <h3>O.E Peace</h3>
              <h4> Assistant Secretary </h4>
              <div class="social-links mt-1">
                <a href="https://twitter.com/seg_nau" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://www.linkedin.com/in/manasseh-anyaora-60262b222" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Peace is a passionate undergradaute geologist. She is an active member of NAPE/AAPG, SPE Nnamdi Azikiwe University chapter.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
            <div class="testimonial-item swiper-slide">
              <img src="{% static 'assets/img/gabby.jpg' %}" class="testimonial-img" alt="">
              <h3>Gabriela Chudi Ajabor</h3>
              <h4> Director of Outreach </h4>
              <div class="social-links mt-1">
                <a href="https://twitter.com/seg_nau" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://www.linkedin.com/in/gabriela-chudi-ajabor-18360a220" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Gabriela Chudi Ajabor is an undergraduate student of Geological Sciences at Nnamdi Azikiwe University. Gabriela has keen interest in Exploration geoscience and Environmental sustainability.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Ttstimonials Section -->

  </main><!-- End #main -->

  {%endblock%}