{%extends "partials/base.html"%}
{%load static%}
{%block title%}Home{%endblock%}
{%block content%}
  <!-- ======= Hero No Slider Section ======= -->
  <section id="hero-no-slider" class="d-flex justify-cntent-center align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-8">
          <h2>Nnamdi Azikiwe University Geophysical Society Of Nigeria (SEGNAU)</h2>
          <p>Society Of Exploaration Geophysicist, Nnamdi Azikiwe University Geophysical Society Of Nigeria.</p>
          <a href="{%url 'about-us'%}" class="btn-get-started ">Read More</a>
        </div>
      </div>
    </div>
  </section><!-- End Hero No Slider Sectio -->

  <main id="main">

    <!-- ======= Services Section ======= -->
    <!-- <section class="services">
      <div class="container">

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
            <div class="icon-box icon-box-pink">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title"><a href="">Lorem Ipsum</a></h4>
              <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box icon-box-cyan">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
              <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box icon-box-green">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="">Magni Dolores</a></h4>
              <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box icon-box-blue">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4 class="title"><a href="">Nemo Enim</a></h4>
              <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
            </div>
          </div>

        </div>

      </div>
    </section> -->
    <!-- End Services Section -->

    <!-- ======= Features Section ======= -->
    <section class="features pt-3">
      <div class="container">

        <div class="section-title">
          <h2>Our Programs</h2>
          <p>The sole aim of the Society of Exploration Geophysicists is to inspire the geoscientists of today and tomorrow.</p>
        </div>

        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="btn_holder">
              <a href="{%url 'fieldcamps'%}">Fieldcamps</a>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="btn_holder">
              <a href="{%url 'conferences'%}">Conferences</a>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="btn_holder">
              <a href="{%url 'outreach'%}">Outreach</a>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="btn_holder">
              <a href="{%url 'challenge-bowl'%}">Challenge Bowl</a>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="btn_holder">
              <a href="{%url 'workshop'%}">Webinars and Workshop</a>
            </div>
          </div>
        </div>
        <!-- Blogs -->
      <div>
        .
        <div class="row">
          {%for article in blogs%}
          <div class="col-lg-4 col-md-6 entries">
            
            <article class="entry p-2">

              <div class="entry-img">
                <img src="{{article.image.url}}" alt="" class="img-fluid_">
              </div>

              <h2 class="entry-title mt-2">
                <a href="{% url 'blog-detail' article.slug%}">{{article.title}}</a>
              </h2>

              <!-- <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-single.html">Christian Glory</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">Jan 1, 2020</time></a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-single.html">12 Comments</a></li>
                </ul>
              </div> -->

              <div class="entry-content">
                <p>
                  {{article.body | slice:":100"|safe}}...
                </p>
                <div class="read-more">
                  <a href="{% url 'blog-detail' article.slug%}" class=" btn
                   btn-primary">Read More</a>
                </div>
              </div>

            </article><!-- End blog entry -->
            
          </div>
          {%endfor%}
        </div>
      </div>
        <!-- EndBlogs -->

        <!-- <div class="row" data-aos="fade-up">
          <div class="col-md-5">
            <img src="{% static 'assets/img/features-1.svg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-4">
            <h3>Field Camps</h3>
            <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <ul>
              <li><i class="bi bi-check"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              <li><i class="bi bi-check"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
            </ul>
          </div>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5 order-1 order-md-2">
            <img src="{% static 'assets/img/features-2.svg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1">
            <h3>Outreachs</h3>
            <p class="fst-italic">
              The SEG Student Chapter Outreach programs are initiatives that make a significant impact within our surrounding community, high schools and the university.
            </p>
            <p>
              Our programs help to raise awareness of the field of geosciences. It is imperative to assess, understand, and communicate the value that geoscience adds to society, the economy, and the environment.
            </p>
          </div>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5">
            <img src="{% static 'assets/img/features-3.svg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5">
            <h3>Conferences</h3>
            <p>Through our conferences always..</p>
            <ul>
              <li><i class="bi bi-check"></i> Inspire future geoscientists on their relevanc</li>
              <li><i class="bi bi-check"></i> Creating networking environment. </li>
            </ul>
          </div>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5 order-1 order-md-2">
            <img src="{% static 'assets/img/features-4.svg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1">
            <h3>Challenge Bowl</h3>
            <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum
            </p>
          </div>
        </div>
        <div class="row" data-aos="fade-up">
          <div class="col-md-5 order-1 order-md-2">
            <img src="{% static 'assets/img/features-4.svg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1">
            <h3>Webinars and Workshop</h3>
            <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum
            </p>
          </div>
        </div>
        
      </div>
    </section> -->
    <!-- End Features Section -->
        
    <!-- ======= Why Us Section ======= -->
    <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
      <div class="container">

        <div class="row">

          <div class="col-lg-12 d-flex flex-column justify-content-center p-5">

            <div class="icon-box">
              <h4 class="title text-center" style="margin-left: 0;">What are you waiting for !!</h4>
              <p class="description " style="text-align: justify; margin-left: 0;">Members of our association are well groomed to fit the international world and legible for all SEG scholarships and grants. They are entitled to free long lasting mentorship on every international applications.
              </p>
              <p class="description " style="text-align: justify; margin-left: 0;">You can also be part of this. Hit the button below to fill our memebership form. </p>
              <h4 class="title text-center" style="margin-left: 0;"><a href="{%url 'membership'%}" class="btn btn-primary text-white">Join Us Today !</a></h4>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->
    <!-- End call -->

  </main><!-- End #main -->

  {%endblock%}