{%extends "partials/base.html"%}
{%load static%}
{%block title%}Mentorship{%endblock%}
{%block content%}


  <main id="main">

    <!-- ======= Blog Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>MENTORSHIP PROGRAMS</h2>

          <ol>
            <li><a href="{%url 'home'%}">Home</a></li>
            <li>MENTORSHIP PROGRAMS</li>
          </ol>
        </div>

      </div>
    </section><!-- End Blog Section -->

    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">
            <!-- Start child article -->
            <article class="entry entry-single">
              <div class="child-aricle">
                <h5>
                    UNIVERSITIES/CHAPTERS MENTORSHIP CIRCLE
                </h5>

                <div class="entry-content">
                  <p>
                    Chapter and Universities Mentorship Circle is a program designed to mentor chapters to harness the benefits of SEG in their institutions. This program began on the 22nd of August 2021 with 5 universities in the South-east Nigeria but has increased to 13 universities from Nigeria, Cameroun and Azerbaijan. This program began after the Local Challenge Bowl and has been active till date. The aim of the mentorship program is to propagate SEG among university in order create new chapters and to help re-activate dormant chapters in Nigeria. To read the publication on The Leading Edge, click <a href="https://library.seg.org/doi/10.1190/tle41080575.1">here.</a>
                  </p>

                </div>
              </div>
              <!-- End child article -->
              <div class="child-aricle">

                <h5>
                    RESEARCH CLUSTERS
                </h5>

                <div class="entry-content">
                  <p>
                    Research activities form the bedrock of applied sciences such as geosciences. The engagement of the chapter’s members in research activities is invaluable in getting them equipped with the requisite research skills to keeping them relevant in growing global geo-economy. Therefore, the need to establish Student Research Groups. The aim of the research clusters is to equip the members of the groups with relevant research skills necessary for them to thrive in the 21st century global geo-economy and to facilitate publication of papers by the students
                  </p>
                  <p>
                    The hydrogeophysics cluster supervised by Dr Stella Chibuzor successfully carried out their research proposal and submitted abstract for the 2023 SEG/AAPG International Meeting for Applied Geoscience and Energy (IMAGE).
                  </p>

                </div>
              </div>
              <!-- End child article -->
               <!-- End child article -->
               <div class="child-aricle">

                <h5>
                    SEG SCHOLARSHIP APPLICATION REVIEW PROGRAM 
                </h5>

                <div class="entry-content">
                  <p>
                    This is a series of postworkshop virtual and physical mentorship to guide interested applicants from both the chapter and other chapters through the application process of the SEG scholarship application. This led to increase in SEG Scholarship awareness in Nigerian public universities.
                  </p>
                </div>
              </div>
              <!-- End child article -->
              
            </article><!-- End blog entry -->

          </div><!-- End blog entries list -->

          <div class="col-lg-4">

            <div class="sidebar">

              <h3 class="sidebar-title">See Also</h3>
              <div class="sidebar-item categories">
                <ul>
                    <li><i class="bx bx-chevron-right"></i> <a href="{%url 'symposium'%}">SEG/Chevron Student Leadership Symposium</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="{%url 'fieldcamps'%}">SEG Field Camps</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="{%url 'outreach'%}">Outreach Programs</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="{%url 'challenge-bowl'%}">SEG Challenge Bowl</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="{%url 'scholarships'%}">SEG Scholarships</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="{%url 'workshop'%}">Webinars & Workshop</a></li>
                  </ul>
              </div><!-- End sidebar categories-->

            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Single Section -->

  </main><!-- End #main -->


  {%endblock%}