{%extends "partials/base.html"%}
{%load static%}
{%block title%}Our Outreach Programs{%endblock%}
{%block content%}


  <main id="main">

    <!-- ======= Blog Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Outreach Programs</h2>

          <ol>
            <li><a href="{%url 'home'%}">Home</a></li>
            <li>Outreach Programs</li>
          </ol>
        </div>

      </div>
    </section><!-- End Blog Section -->

    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">

            <article class="entry entry-single">

              <div class="entry-img">
                <img src="assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
              </div>
              <div class="child-aricle">
                <h3 class="entry-title">
                  SEG-NAU OUTREACH PROGRAMS
                </h3>

                <div class="entry-content">
                  <p>
                    The SEG Student Chapter Outreach programs are initiatives that make a significant impact within our surrounding community, high schools and the university. These programs help to raise awareness of the field of geosciences. It is imperative to assess, understand, and communicate the value that geoscience adds to society, the economy, and the environment.
                  </p>

                    Besides high school students, our outreach programs also address locals in the beneficiary communities. We appreciate SEG Foundation for the Student Chapter Outreach Grant <a href="https://seg.org/Education/Student/Student-Opportunities/Student-Chapter-Outreach-Grant">(here)</a> which has been a major support to our outreach programs. 
                  </p>

                  <p>Some of the outreach programs we have carried out are mentioned below: </p>

                </div>
              </div>
              <!-- End child article -->
              <div class="child-aricle">
                <h4 >
                  1. EBENEBE REACH OUT CAMPAIGN 2020 (8th January – 17th March, 2020)
                </h4>

                <div class="entry-content">
                  <p>
                    40-chapter members including executives and facilitators visited the Ebenebe town in Anambra state of Nigeria. All members separated into groups to visit four schools in the town and a ROADSHOW to create awareness. Each of these four schools had about 30 final grade students in attendance, they were taught the basics of geophysics and its benefits to society. The program also featured a 1-day internship program, personal work sessions on the interpretation of vertical electric sounding data which had 16 best Active students of the first outreach exercise from all four schools participating. 
                  </p>

                  <p>
                    A survey team visited the community and schools after the outreach exercise and internship training to observe and monitor the program's impact. Also, training exercises were put in place for participating students to train other students. 
                  </p>

                  <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                      <img src="{%static 'assets/img/ebenebe-team-volu.jpg'%}" class="img-fluid" alt="ebenebe-team-volu"><br>
                      <small>Photo: The Outreach Team Volunteers</small>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                      <img src="{%static 'assets/img/ebenebe-vol-stud.jpg'%}" class="img-fluid" alt=""><br>
                      <small>Photo: The outreach Team with students at Holy Spirit Secondary School, Ebenebe</small>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                      <img src="{%static 'assets/img/miss_irene.jpg'%}" class="img-fluid" alt=""><br>
                      <small>Photo: Mrs Irene educating the students on the basics of Geology</small>
                    </div>
                  </div>

                </div>
              </div>
              <!-- End child article -->
               <!-- End child article -->
               <div class="child-aricle">
                <h4 >
                  2. ANAMBRA GEOSCIENCE FAIR (AGF) 2021 (1st March to 12 April 2021)
                </h4>

                <div class="entry-content">
                  <p>
                    This is a Geoscience Career Orientation and Capacity Building Program designed to create awareness of geosciences among high school students in remote communities of Anambra state and ensure individual career development of first year students of the Department of Geological Sciences and Applied Geophysics in the university on their chosen geosciences career of interest.  
                  </p>
                  <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                      <img src="{%static 'assets/img/geophysics_exhibition.jpg'%}" class="img-fluid" alt="" ><br>
                      <small>Photo: Geophysics exhibition stand (AGF) </small>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                      <img src="{%static 'assets/img/student_presentation_AGF.jpg'%}" class="img-fluid" alt="" ><br>
                      <small>Photo: High school student presenting during the technical session (AGF) </small>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                      <img src="{%static 'assets/img/Testimonial_2_AGG.png'%}" class="img-fluid" alt="" ><br>
                      <small>Photo: Testimony from a participants (AGF) </small>
                    </div>
                  </div>
                  <p>
                    The event featured intensive internship training, basic geological mapping, super informative excursion to three geoscience firms, a lecture on illegal mining and its dangers, team-based quiz competitions and presentation challenges as well as re-visitation of schools.
                  </p>

                  <p>The program hosted 36 students and 9 teachers from 9 High schools in Ufuma, Obosi, Ikenga, Enugwu-ukwu, Nibo, Abagana, Ukpo and Nimo and 30 first year undergraduates of the Departments of Geological Sciences and Applied Geophysics. The occasion was graced by the Heads of the two departments, faculty members and staff from the Nigerian Geological Survey Agency. </p>

                  <p>By the end of the program, over 30 students from various high schools became inspired to pursue a career in exploration geophysics and other areas of geosciences. The participating first-year students gained a solid understanding of geoscience academic work. The program drew the attention of the responsible government agencies to the mineral deposits and the ongoing environmental hazards in the state and 9 new functioning sub-chapters were created.</p>
                  <div class="row">
                    
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-2">
                      <img src="{%static 'assets/img/Exhibition_Stand_AGF.jpg'%}" class="img-fluid" alt=""><br>
                      <small>Photo: Enginnering geology exhibition stand (AGF)</small>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-2">
                      <img src="{%static 'assets/img/field_photo_AGF.jpg'%}" class="img-fluid" alt=""><br>
                      <small>Photo: Field trip  (AGF)</small>
                    </div>
                  </div>
                  
                </div>
              </div>
              <!-- End child article -->
               <!-- End child article -->
               <div class="child-aricle">
                <h4 >
                  3. GEO-AWARENESS EVENT AT ST MARY’S SECONDARY SCHOOL UKPOR, NNEWI, ANAMBRA (1st December 2021)
                </h4>

                <div class="entry-content">
                  <p>
                    As part of the activities for the 2021 SEG Week, the outreach committee carried out a Geo-Awareness event at St. Mart’s Secondary School, Ukpor Anambra State. In this program, about 200 high school students were introduced to relevance of geosciences and the career opportunities in the geosciences. 
                  </p>

                  <p>
                    At the end of the program, the students were inspired to pursue careers in the geosciences. 
                  </p>

                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-2">
                      <img src="{%static 'assets/img/Nnaemeka_Career_Talk_Geoawareness.jpg'%}" class="img-fluid" alt=""><br>
                      <small>Photo: Mr. Nnaemeka delivering a career talk to the students</small>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-2">
                      <img src="{%static 'assets/img/Ejike_Career_Talk_Geoawareness.jpg'%}" class="img-fluid" alt="" ><br>
                      <small>Photo: Mr. Ejike delivering introducing the students to prospects of geophysics </small>
                    </div>
                  </div>

                </div>
              </div>
              <!-- End child article -->
               <!-- End child article -->
               <div class="child-aricle">
                <h4 >
                  4. FIELD CAMP CALABAR SENSITIZATION PROGRAM 2022 (November 5, 2022)
                </h4>

                <div class="entry-content">
                  <p>
                    The first stage of the sensitization program was creating awareness in Federal Airports Authority of Nigeria Secondary School, Calabar. In this program, the students were introduced to career opportunities in geosciences with emphasis on environmental geosciences which is relevant to solving their long-term erosion and landslide problems in their community. 
                  </p>

                  <p>
                    This exercise brought to life the abstract nature of the field as a few team representatives shared their stories and learnings from over the years. Some of the lessons shared were on career prospects in geosciences; its branches, and its importance in our world today. During the outreach session, we understood that a greater percentage of the students present had not given attention to the field of Geoscience before now. The outreach reinforced the notion of sharing what you know and do as it might just be the little spark someone else needs to shine. 
                  </p>

                  <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                      <img src="{%static 'assets/img/Field_Camp_Outreach _team_Addressing_FAAN_Students.jpg'%}" class="img-fluid" alt=""><br>
                      <small>Photo: A cross-section of the high school students paying rapt attention to the outreach team</small>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                      <img src="{%static 'assets/img/Field_Camp_Outreach_team.jpg'%}" class="img-fluid" alt=""><br>
                      <small>Photo: The field camp outreach team</small>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                      <img src="{%static 'assets/img/field_Camp_Outreach_team_with_prize_winners.jpg'%}" class="img-fluid" alt=""><br>
                      <small>Photo: Outreach team with with high school quizz winners. </small>
                    </div>
                  </div>

                  <p>The second stage of the sensitization programme was creating awareness in the streets about the human and social-cultural activities that induce these gullies as well as early identification of gullies and possible remediation methods. The field camp participants were grouped across all levels and convey to the community via a bus. Each group was required to meet and socialize with people within the community while educating them on human and socio-cultural activities that induce these gullies as well as early identification of gullies and possible remediation methods. The session was conducted in an interactive manner in some cases using native dialect for effective communication and understanding.</p>

                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-2">
                      <img src="{%static 'assets/img/Sensitization_of_locals _2.jpg'%}" class="img-fluid" alt=""><br>
                      <small>Photo: Three of the participants sensitizing some of the locals</small>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-2">
                      <img src="{%static 'assets/img/Sensitization_of_locals _1.jpg'%}" class="img-fluid" alt=""><br>
                      <small>Photo: A cross-section of the participants sensitizing some of the locals</small>
                    </div>
                  </div>

                </div>
              </div>
              <!-- End child article -->

            <!-- End child article -->
            <div class="child-aricle">
            <h4 >
              5. MINI-JUNIOR GEOSCIENCE INTERNSHIP UKPOR 2023 (15 February 2023)
            </h4>

            <div class="entry-content">
              <p>
                As part of the 2023 Geoscientific Field Campaign, we carried out a 1-day mini-internship program for 2 secondary schools in the project study area. During the program featured basic introduction to Geology and Rocks, Roles of geophysics in achieving the United Nations Sustainable Development Goals, the application of Drone Photogrammetry in Geological field mapping and the career opportunities in geosciences with emphasis on environmental sustainability. 
              </p>

              <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                  <img src="{%static 'assets/img/GeoMagic_Outreach_Team_with_Ukpor_High_Sch_Student.jpg'%}" class="img-fluid" alt=""><br>
                  <small>Photo: The Outreach team with the Senior Students of Ukpor High School Ukport</small>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                  <img src="{%static 'assets/img/A_student_responding_to_a_question_at_HISS.jpeg'%}" class="img-fluid" alt=""><br>
                  <small>Photo: The student from Holy Innocent responding to a question</small>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                  <img src="{%static 'assets/img/GeoMagic_outreach_Team_with_Holy_Innocent_Student.jpg'%}" class="img-fluid" alt=""><br>
                  <small>Photo: The Outreach team with the Senior Students of Holy Innocents Secondary School Ukpor</small>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                  <img src="{%static 'assets/img/a_student_in_Ukpor_high_school_responding_to_ques.jpg'%}" class="img-fluid" alt=""><br>
                  <small>Photo: The student from Holy Innocent responding to a question</small>
                </div>
                
              </div>

            </div>
          </div>
          <!-- End child article -->
              
            </article><!-- End blog entry -->

          </div><!-- End blog entries list -->

          <div class="col-lg-4">

            <div class="sidebar">

              <h3 class="sidebar-title">See Also</h3>
              <div class="sidebar-item categories">
                <ul>
                    <li><i class="bx bx-chevron-right"></i> <a href="{%url 'symposium'%}">SEG/Chevron Student Leadership Symposium</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="{%url 'conferences'%}">SEG Conferences</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="{%url 'fieldcamps'%}">SEG Field Camps</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="{%url 'challenge-bowl'%}">SEG Challenge Bowl</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="{%url 'scholarships'%}">SEG Scholarships</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="{%url 'workshop'%}">Webinars & Workshop</a></li>
                  </ul>
              </div><!-- End sidebar categories-->

            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Single Section -->

  </main><!-- End #main -->


  {%endblock%}