{%extends "partials/base.html"%}
{%load static%}
{%block title%}SEG Conferences{%endblock%}
{%block content%}


  <main id="main">

    <!-- ======= Blog Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>SEG Conferences</h2>

          <ol>
            <li><a href="{%url 'home'%}">Home</a></li>
            <li>SEG Conferences</li>
          </ol>
        </div>

      </div>
    </section><!-- End Blog Section -->

    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">
            <!-- Start child article -->
            <article class="entry entry-single">

              <div class="entry-img">
                <img src="assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
              </div>
              <div class="child-aricle">
                <h3 class="entry-title">
                  1st SEG-NAU Nano conference
                </h3>

                <h4>
                  Theme: Mapping Geosciences to Economic Sustainability (12th -14th August 2021)
                </h4>

                <div class="entry-content">
                  <p>
                    The sole aim of the Society of Exploration Geophysicists is to inspire the geoscientists of today and tomorrow. In line with this aim, SEG-NAU hosted her 1st Nano conference. 
                    The Nano conference with the theme “Mapping Geosciences to Economic Sustainability” held on 12th – 14th August, 2021. The event featured several intellectual activities such as technical sections, panel discussions, paper and postal presentations, virtual excursions, career talks/workshop, field trips, and the local challenge bowl. 
                  </p>

                  <p>
                    Participants cut across faculty members and students from universities in Nigeria offering geosciences programs. Seasoned and experienced geoscientists from the industry and academia were invited as keynote speakers, guest speakers, panelists, and special guests. Their participation added color, enriched and impacted positively on the conference. 
                  </p>

                  <p>The participants were inspired by their relevance in attaining the United Nations Sustainable Development Goals amidst the Energy Transition and new chapters were exposed to the enormous benefits that SEG International has in store for them in pursuing their career goals and achieving them.</p>

                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-2">
                      <img src="{%static 'assets/img/Nwajide.jpg'%}" class="img-fluid" alt="ebenebe-team-volu"><br>
                      <small>Photo: A photo of Prof. C. S. Nwajide delivering the Keynote Lecture on “Mapping Geosciences to Economic Sustainability” at the Second day of the Nanoconference/Local Challenge Bowl.</small>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-2">
                      <img src="{%static 'assets/img/Nanoconferencefieldtrip.jpg'%}" class="img-fluid" alt=""><br>
                      <small>Photo: A photo of the participating students at an Outcrop in Nkwelle during the 3rd day of the Nano conference</small>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-2">
                      <img src="{%static 'assets/img/panelist.jpg'%}" class="img-fluid" alt=""><br>
                      <small>Photo: A photo of the panelists during the Panel session on “The Relevance of Geoscientists in the Energy Transition”. </small>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-2">
                      <img src="{%static 'assets/img/DrEmeh.jpg'%}" class="img-fluid" alt=""><br>
                      <small>Photo: Dr Emeh traning the students during the CV clinic session.</small>
                    </div>
                  </div>

                </div>
              </div>
              <!-- End child article -->
              <div class="child-aricle">
                <h3 class="entry-title">
                  1st SEG Sub-Saharan African Regional Virtual Student Conference 2022
                </h3>

                <h4>
                  Theme: Geoscience Applications and Technologies; Meeting the Sustainability Target in Africa (September 30 – 1st October 2022).
                </h4>

                <div class="entry-content">
                  <p>
                    The 12 Active SEG Student Chapters in Nigeria collaborated to host the 1st SEG Sub-Saharan Africa Region Virtual Student Conference on September 30 – 1st October 2022. 
                    This conference with a theme: “Geoscience Applications and Technologies; Meeting the Sustainability Targets of Africa” featured keynote lecture, panel discussions, paper contests, career fair, cv clinic, mock interviews, 
                    virtual field trip and the Sub-Saharan African Regional Challenge Bowl.
                  </p>
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-2">
                      <img src="{%static 'assets/img/Conference_Sponsors_2022.jpg'%}" class="img-fluid" alt="ebenebe-team-volu"><br>
                      <small>Photo: Ptogram Sponsors</small>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-2">
                      <img src="{%static 'assets/img/Welcome_Address_KenTubman2022.jpg'%}" class="img-fluid" alt=""><br>
                      <small>Photo: Welcome address by Ken Tuben, President SEG</small>
                    </div>
                  </div>
                  <p>
                    Participants cuts across students and faculty members from universities offering geosciences programs in Sub-Saharan Africa. Experienced geoscientists from industry and academia to serve as keynote speakers, guest speakers, panellists, and special guests. 
                  </p>
                  <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                      <img src="{%static 'assets/img/SEG_Keynot_Flyer 2.jpg'%}" class="img-fluid" alt=""><br>
                      <small>Photo: Programs' flier. </small>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                      <img src="{%static 'assets/img/SEG_Panel_session2022.jpg'%}" class="img-fluid" alt=""><br>
                      <small>Photo: SEG panel session</small>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                      <img src="{%static 'assets/img/seg_cv_clinic.jpg'%}" class="img-fluid" alt=""><br>
                      <small>Photo: Cv Clinic</small>
                    </div>
                  </div>

                  <p>Through this conference, future geoscientists were inspired on their relevance in attaining the United Nation’s Sustainable Development Goals amidst the Energy Transition through the Keynote lecture and panel discussion. The technical, research and intellectual competences of our chapter members were enhanced through paper presentations and virtual field trips. The students were trained on how to write award-winning curriculum vitae necessary in obtaining scholarships as well as how to correctly answer interview questions. It established a networking platform between students and geoscience companies for internships and jobs.</p>

                  <div class="row">
                    
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                      <img src="{%static 'assets/img/SEG_virtual_career_fair2022.jpg'%}" class="img-fluid" alt=""><br>
                      <small>Photo: Virtual career fair </small>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                      <img src="{%static 'assets/img/SEG_Challenge_BOWLL2022.jpg'%}" class="img-fluid" alt=""><br>
                      <small>Photo: Challenge Bowl </small>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                      <img src="{%static 'assets/img/HSEAddress_Conference_2022.jpg'%}" class="img-fluid" alt=""><br>
                      <small>Photo: HSE address</small>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-2">
                      <img src="{%static 'assets/img/Paper_Contest_winners2022.png'%}" class="img-fluid" alt=""><br>
                      <small>Photo: Paper contest winners.</small>
                    </div>
                  </div>

                </div>
              </div>
              <!-- End child article -->
              
            </article><!-- End blog entry -->

          </div><!-- End blog entries list -->

          <div class="col-lg-4">

            <div class="sidebar">

              <h3 class="sidebar-title">See Also</h3>
              <div class="sidebar-item categories">
                <ul>
                    <li><i class="bx bx-chevron-right"></i> <a href="{%url 'symposium'%}">SEG/Chevron Student Leadership Symposium</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="{%url 'fieldcamps'%}">SEG Field Camps</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="{%url 'outreach'%}">Outreach Programs</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="{%url 'challenge-bowl'%}">SEG Challenge Bowl</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="{%url 'scholarships'%}">SEG Scholarships</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="{%url 'workshop'%}">Webinars & Workshop</a></li>
                  </ul>
              </div><!-- End sidebar categories-->

            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Single Section -->

  </main><!-- End #main -->


  {%endblock%}