{%extends "partials/base.html"%}
{%load static%}
{%block title%}SEG Scholarships{%endblock%}
{%block content%}


  <main id="main">

    <!-- ======= Blog Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>SEG Scholarships</h2>

          <ol>
            <li><a href="{%url 'home'%}">Home</a></li>
            <li>SEG Scholarships</li>
          </ol>
        </div>

      </div>
    </section><!-- End Blog Section -->

    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">

            <article class="entry entry-single">

              <h2 class="entry-title">
                About SEG Scholarships
              </h2>

              <div class="entry-content">
                <p>
                  The SEG Scholarship program encourages students around the world to study geophysics and related geosciences at universities. Globally, SEG offers a range of scholarship opportunities to students.
                  The average scholarship award is approximately US$4,300; awards range from US$500 to US$10,000 per academic year. The number of scholarships available depends primarily upon the number of sponsors and the amounts they contribute. The SEG scholarship program has awarded scholarships to students around the world.
                </p>
                <h4>APPLICANT ELIGIBILITY</h4>
                <p>SEG Scholarships are based on merit. To qualify, you must be a student who:</p>
                <ol>
                  <li>	Is a high school senior planning to attend college next year or an undergraduate or graduate college student</li>
                  <li>	Has above average grades</li>
                  <li>	Is intending to pursue a college curriculum directed toward a career in applied geophysics.</li>
                </ol>
                
                <p>ONLINE APPLICATIONS ARE ACCEPTED 1 NOVEMBER THROUGH 1 MARCH. 
                  TIMELINE
                </p>
                <p><strong>Nov–Mar: </strong> <span>applications accepted</span></p>
                <p><strong>Mar–May: </strong> <span>applications reviewed and scholarships assigned</span></p>
                <p><strong>June: </strong>  <span>applicants notified of results</span></p>
                <p><strong>June–Sep: </strong> <span>enrolments verified; acceptance documents completed; funds distributed</span></p>
                <h4>HOW TO APPLY:</h4>
                <p><a href="https://seg.org/apply ">Link here</a></p>
                <ul>
                  <li>Students must include current transcripts</li>
                  <li>	Must include email addresses for two faculty members who have agreed to serve as references.</li>
                  <li>	Applications accepted 1 November–1 March annually.</li>
                </ul>
                <p>For more information, contact SEG Scholarships at <a href="https://scholarships@seg.org">scholarships@seg.org</a></p>

                <h4>SEG-NAU Chapter members have been recipients of the SEG Scholarships.</h4>
                <h6>
                  2020 SEG-NAU SCHOLARSHIP RECIPIENTS
                </h6>
                <p>1: Chijioke Valentine Orabueze: Senior, SEG Foundation Scholarship</p>
                <p>2: Ogonna Tochukwu Emenaha: Master's, SEG/AGIP Scholarship</p>
                <p>3: Chioma Irene Meniru: Master's, SEG/Norman and Shirley Domenico Scholarship</p>
                <div> <img src="{%static 'assets/img/Scholarship_Highlight_2020.png'%}" class="img-fluid" alt="ebenebe-team-volu"><br>
                  <small>Photo: Scholarship highlight 2020</small>
                </div>
                <h6>2021 SEG-NAU SCHOLARSHIP RECIPIENTS</h6>
                <p>1: Arukwe Chinazaekpere Mary: Sophomore, SEG Foundation/Chevron Scholarship
                <p>2: Juliet Nneamaka Ilechukwu: PhD, SEG Foundation Scholarship and Fred and Kathi Hilterman Scholarship
                <p>3: Ogonna Tochukwu Emenaha: Master's, SEG Foundation Scholarship and Michael T. Spradley Memorial Scholarship

                <div> <img src="{%static 'assets/img/Scholarship_Highlight_2021.png'%}" class="img-fluid" alt="ebenebe-team-volu"><br>
                  <small>Photo: Scholarship highlight 2021</small>
                </div>
                <h6>2022 SEG-NAU SCHOLARSHIPS RECIPIENTS </h6>
                <p>1:  Arukwe Chinazaekpere Mary: senior, SEG Foundation Scholarship and SEG 75th Anniversary Scholarship 
                <p>2: Ogonna Tochukwu Emenaha: Master’s, SEG 75TH Anniversary Scholarship 
                <p>3: Tochukwu Emmanuel Onyebum: Master’s, SEG Foundation Scholarship and SEG/Jack and Catherine Threet Scholarship
                <p>4: Juliet Nneamaka Aniwetalu: PhD, SEG Foundation/Chevron Scholarship
                <p>5: Fidelis Precious Onwuagba: Master’s, SEG Foundation/Chevron Scholarship
                  <div> <img src="{%static 'assets/img/Scholarship_Highlight_2022.jpg'%}" class="img-fluid" alt="ebenebe-team-volu"><br>
                    <small>Photo: Scholarship highlight 2022</small>
                  </div>
              </div>

            </article><!-- End blog entry -->

          </div><!-- End blog entries list -->

          <div class="col-lg-4">

            <div class="sidebar">

              <h3 class="sidebar-title">See Also</h3>
              <div class="sidebar-item categories">
                <ul>
                    <li><i class="bx bx-chevron-right"></i> <a href="{%url 'symposium'%}">SEG/Chevron Student Leadership Symposium</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="{%url 'conferences'%}">SEG Conferences</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="{%url 'fieldcamps'%}">SEG Field Camps</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="{%url 'outreach'%}">Outreach Programs</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="{%url 'challenge-bowl'%}">SEG Challenge Bowl</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="{%url 'workshop'%}">Webinars & Workshop</a></li>
                  </ul>
              </div><!-- End sidebar categories-->

            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Single Section -->

  </main><!-- End #main -->


  {%endblock%}