{%extends "partials/base.html"%}
{%load static%}
{%block title%}SEG/Chevron Student Leadership Symposium{%endblock%}
{%block content%}


  <main id="main">

    <!-- ======= Blog Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>SEG/Chevron Student Leadership Symposium</h2>

          <ol>
            <li><a href="{%url 'home'%}">Home</a></li>
            <li>SEG/Chevron Student Leadership Symposium</li>
          </ol>
        </div>

      </div>
    </section><!-- End Blog Section -->

    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">

            <article class="entry entry-single">

              <h2 class="entry-title">
                SEG/CHEVRON STUDENT LEADERSHIP SYMPOSIUM (SLS)
              </h2>

              <div class="entry-content">
                <p>
                  The SEG/Chevron Student Leadership Symposium (SLS) is a collaboration effort between SEG and Chevron focusing on building leadership, teamwork, real world problem solving, and communication skills for 50 SEG student chapter officers.  
                <p>Students receiving the SLS travel grant award will participate in a two-day focused leadership program, taking place at the SEG Annual Meeting in Houston, Texas, USA. 
                <p>The first annual SEG/Chevron Student Leadership Symposium was held on 22 – 24 September 2007 in San Antonio, USA with 41 students representing 16 countries
                </p>

                <p>
                  Competition for the travel grant is highly competitive and focused on the students’ chapter involvement, leadership skills, grades, and recommendations. 
                <p> This grant covers air transportation, lodging, meals, Annual Meeting registration, and participation in a weekend leadership course provided by SEG and Chevron. 
                  <p>  The SEG/Chevron Student Leadership Symposium includes an address by the SEG President, best practices presentations, professional leadership coaching, team building activities, and a Strategic Problem-Solving Session with the SEG Executive Committee and Chevron personnel. 
                </p>

                <blockquote>
                  <p>
                    Applications are accepted 18 November – 17 February. 
                  </p>
                </blockquote>

                <p>
                  Click <a href="https://seg.org/Education/Student/Student-Programs/Student-Leadership-Symposium ">here</a> for Application Instructions and Eligibility Information. 
                </p>

                <p>	In 2018 – Mr. Ogonna Tochukwu Emenaha a chapter president was awarded the SEG/Chevron SLS Travel Grant. Mr. Ogonna the two-day leadership program, which took place on 13-14 October 2018 at the SEG Annual Meeting in Anaheim, CA, USA. <a href="https://seg.org/News-Resources/Press-Releases/2018-SLS-travel-grant-recipients-announced">Read more ...</a> </p>
                <p>
                  In 2021 – Mr. Fidelis Onwuagba a chapter officer was also awarded the SEG/Chevron SLS Travel Grant. The SLS and SEG Annual Meeting take place 26 September - 1 October 2022 in Denver, Colorado, USA and online. 

                </p>
                <p>
                  In 2022 – Mr. Ejike Raphael a chapter president was awarded the SEG/Chevron SLS Travel Grant but had to attend the event virtually. <a href="https://seg.org/Portals/0/SEG/Professional%20Development/Students/SLS/SLS2022.pdf ">Read more</a>


                </p>

              </div>

            </article><!-- End blog entry -->

          </div><!-- End blog entries list -->

          <div class="col-lg-4">

            <div class="sidebar">

              <h3 class="sidebar-title">See Also</h3>
              <div class="sidebar-item categories">
                <ul>
                    <li><i class="bx bx-chevron-right"></i> <a href="{%url 'conferences'%}">SEG Conferences</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="{%url 'fieldcamps'%}">SEG Field Camps</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="{%url 'outreach'%}">Outreach Programs</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="{%url 'challenge-bowl'%}">SEG Challenge Bowl</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="{%url 'scholarships'%}">SEG Scholarships</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="{%url 'workshop'%}">Webinars & Workshop</a></li>
                  </ul>
              </div><!-- End sidebar categories-->

            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Single Section -->

  </main><!-- End #main -->


  {%endblock%}