{%extends "partials/base.html"%}
{%load static%}
{%block title%}SEG Challenge Bowl{%endblock%}
{%block content%}


  <main id="main">

    <!-- ======= Blog Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>SEG Challenge Bowl</h2>

          <ol>
            <li><a href="{%url 'home'%}">Home</a></li>
            <li>SEG Challenge Bowl</li>
          </ol>
        </div>

      </div>
    </section><!-- End Blog Section -->

    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">

            <article class="entry entry-single">

              <div class="child-aricle">
                <h3 class="entry-title">
                  SEG CHALLENGE BOWL 
                </h3>

                <div class="entry-content">
                  <p>
                    The SEG Challenge Bowl is a quiz-based program of the Society of Exploration Geophysicists for University students in different parts of the world. The Bowl, which features a wide range of topics in geology, geophysics, geodesy, geography and SEG History, has grown in global participation over the last decade, drawing international student and professional audience from at least 5 continents.
                  </p>
                  <h6>2021 SEG-NAU LOCAL CHALLENGE BOWL</h6>
                  <p>In line with the 2021 goals of SEG, the Nnamdi Azikiwe University chapter of SEG decided to host the maiden Challenge Bowl in Southeast region of Nigeria. This year’s event which started with an in-house activity for members of the chapter culminated in a Southeast-wide Bowl which saw students from at least five (5) Universities competing for the ultimate title of the ‘Eastern Nigeria Challenge Bowl Champions’.</p>
                  <p>A total of six (6) Universities and eight (8) teams participated in the Local Challenge Bowl. The event also saw the participation of twenty students drawn from second year to postgraduate students. Also, every participating school was required to present three students for the competition (two challenge Bowlers, and one support student).</p>
                  <p>The Challenge Bowl competition was held on the 13th of August, 2021 at the Main Auditorium of Chisco Transport Institute, Nnamdi Azikiwe University, Awka and was well attended by officers and Senior Staff members of the University. In attendance at the event was the Dean of the Faculty of Physical Sciences, Prof. J.O Ogbuagu; Head of Department of Geological Sciences, Prof. E.I Okoyeh; the Head of Department of Applied Geophysics, Prof. E.K Anakwuba; and Faculty Adviser of Nnamdi Azikiwe University Chapter of SEG, Dr. I.I Obiadi. Also in attendance were Chapter representatives of the Society of Petroleum Engineers, American Association of Petroleum Geologists, Nigerian Association of Petroleum Explorationists, and Nigerian Mining and Geosciences Society. At least fifteen (15) senior members of staff of the University and one hundred and fifty (150) students were on-ground to witness the maiden challenge bowl competition.</p>
                  <div class="">
                    <img src="{%static 'assets/img/SEG_Challenge_Bowl_2021.jpg'%}" class="img-fluid" alt=""><br>
                    <small>Photo: A photo of the Faculty members, facilitators, chapter executives and the challenge bowl delegates. </small>
                  </div>
                  <p>The Challenge Bowl took place in three (3) legs of three (3) rounds each and saw all 24 participants compete for the top spot of the event.</p>
                  <p>At the end of the challenge bowl the University of Calabar emerged winners of the competition while the Federal university of Technology, Owerri emerged as first runner-up after a penalty shoot-out with Nnamdi Azikiwe University’s Team 2.</p>
                  <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                      <img src="{%static 'assets/img/1st_Place_winners_2021.jpg'%}" class="img-fluid" alt=""><br>
                      <small>Photo: A photo of the Faculty members, facilitators, chapter executives and the challenge bowl delegates. </small>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                      <img src="{%static 'assets/img/2nd_Place_winners_2021.jpg'%}" class="img-fluid" alt=""><br>
                      <small>Photo: Picture of the 2021 SEG-NAU Local Challenge Bowl 2nd Place Winners </small>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                      <img src="{%static 'assets/img/3rd_Place_winners_2021.jpg'%}" class="img-fluid" alt=""><br>
                      <small>Photo: Picture of the 2021 SEG-NAU Local Challenge Bowl 3rd Place Winners</small>
                    </div>
                  </div>
                  <h6>2022 SEG SUB-SAHARAN AFRICAN REGIONAL CHALLENGE BOWL</h6>
                  <p>According to SEG's 2022 goals, eleven (11) active student chapters in Nigeria hosted the inaugural Sub-Saharan African Regional Challenge Bowl. It was held as part of SEG's first Virtual Student Conference for the Sub-Saharan African Region. The event consists 17 teams of 34 players from the 13 SEG Student Chapters and 4 non-SEG University chapters in Sub-Saharan African region. </p>
                  <p>The Challenge Bowl competition was held on the 30th of September 2022 and emceed by Peter Duncan. A total of seventeen (17) Universities from 3 countries (Nigeria, Cameroun and Uganda) participated in the Regional Virtual Challenge Bowl. The event also saw the participation of twenty students drawn from second year to postgraduate students. The Challenge Bowl took place in three (3) legs of three (3) rounds each and saw all 34 participants compete for the top spot of the event. </p>
                  <p>At the end of the challenge bowl, Team Granitic Boulders from Federal University of Technology Owerri emerged winners of the competition while team Emerald from the Obafemi Awolowo University Ile-Ife emerged as first runner-up and Team PTI from the Petroleum Training Institute Effurun emerged as the second runner-up.</p>
                  <!-- <div class="row"> -->
                    <div class="">
                      <img src="{%static 'assets/img/Winners_challenge_bowl_2022.png'%}" class="img-fluid" alt=""><br>
                      <small>Photo: SEG Sub-Saharan challenge-bowl winners. </small>
                    </div>
                    <!-- <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                      <img src="{%static 'assets/img/SEG_Panel_session2022.jpg'%}" class="img-fluid" alt=""><br>
                      <small>Photo: SEG panel session</small>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                      <img src="{%static 'assets/img/seg_cv_clinic.jpg'%}" class="img-fluid" alt=""><br>
                      <small>Photo: Cv Clinic</small>
                    </div> -->
                  <!-- </div> -->

                </div>
              </div>
              <!-- End child article -->
            </article><!-- End blog entry -->

          </div><!-- End blog entries list -->

          <div class="col-lg-4">

            <div class="sidebar">

              <h3 class="sidebar-title">See Also</h3>
              <div class="sidebar-item categories">
                <ul>
                    <li><i class="bx bx-chevron-right"></i> <a href="{%url 'symposium'%}">SEG/Chevron Student Leadership Symposium</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="{%url 'conferences'%}">SEG Conferences</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="{%url 'fieldcamps'%}">SEG Field Camps</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="{%url 'outreach'%}">Outreach Programs</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="{%url 'scholarships'%}">SEG Scholarships</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="{%url 'workshop'%}">Webinars & Workshop</a></li>
                  </ul>
              </div><!-- End sidebar categories-->

            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Single Section -->

  </main><!-- End #main -->


  {%endblock%}