{%extends "partials/base.html"%}
{%load static%}
{%block title%}SEG Field Camps{%endblock%}
{%block content%}


  <main id="main">

    <!-- ======= Blog Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2> SEG-NAU FIELD CAMPS (SPONSPORED BY THE SEG FOUNDATION)</h2>

          <ol>
            <li><a href="{%url 'home'%}">Home</a></li>
            <li>SEG Field Camps</li>
          </ol>
        </div>

      </div>
    </section><!-- End Blog Section -->

    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">

             <!-- Start child article -->
             <article class="entry entry-single">
              <div class="child-aricle">


                <h4>
                  SEG-NAU FELD CAMP 2020: SAVING THE FUTURE TODAY (26th August – 11th September 2020)
                </h4>

                <div class="entry-content">
                  <p>
                    This maiden edition of the SEG-NAU Field Camp was themed "Saving the Future, Today” with the project title, "Integrated Vulnerability Assessment and Pollution Status Evaluation of the Nnewi Industrial Zone". It was aimed to raise awareness about the role of geoscientists in environmental preservation and sustainability
                  </p>
                  <p>
                    The field camp engaged 30 students in geophysical data acquisition, introduced them to field applications of geophysical methods in water resource management, fostered team spirit, assessed groundwater potential and aquifer vulnerability, evaluated pollution status of aquifer units, made recommendations to enhance policies on aquifer protection and groundwater resource management, and promoted the relevance of SEG in advancing the world of geophysics.
                  </p>

                  <p>
                    The field camp was structured into five phases, including in-house training, reconnaissance survey, fieldwork, post-field, and presentation of learning and results dissemination. Participants were equipped with skills in data acquisition, discrimination of accurate and faulty data, and understanding the impact of earth's dynamics on geophysical data. 
                  </p>
                  <p>
                    They also appreciated the need for geological mapping before geophysical surveys and were able to identify geologic boundaries during electrical resistivity surveys
                  </p>
                  <p>
                    The SEG Field Camp 2020 was a huge success in achieving its objectives and raising awareness about the importance of geoscience in environmental preservation. The skills and knowledge gained by the participants would undoubtedly contribute to the development of policies and actions that would enhance the protection of aquifers and groundwater resources. The event was held in 2020 and serves as an excellent example of the power of collaboration and teamwork in driving environmental sustainability
                  </p>

                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-2">
                      <img src="{%static 'assets/img/FIELD_WORK_fieldcamp2020.PNG'%}" class="img-fluid" alt="ebenebe-team-volu"><br>
                      <small>Photo: Field work .</small>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-2">
                      <img src="{%static 'assets/img/Before_sensitization_fieldcamp2020.jpg'%}" class="img-fluid" alt=""><br>
                      <small>Photo: Cross-section of the participants before community sensitization<small>
                    </div>
                  </div>

                </div>
              </div>
              <!-- End child article -->
              <div class="child-aricle">
                <h3 class="entry-title">
                  EASTERN NIGERIAN GEOPHYSICAL FIELD CAMP 2021
                </h3>

                <h4>
                  Theme: Meeting the Sustainability Target in Africa (September 30 – 1st October 2022).
                </h4>

                <div class="entry-content">
                  <p>
                    From the 21st of July to the 2nd of August, seven teams of undergraduate students from Eastern Nigerian Geoscience Institutes, along with the SEG-NAU Faculty Advisor, Graduate Assistants, and industry experts, conducted a series of geological and geophysical surveys at the Owerre Ezukala caves and waterfalls. 
                  </p>
                  <p>
                    The field camp, aimed at increasing the capacity of participants on the application of geophysics for environmental assessment and geohazard mapping, catered for and enhanced the professional and technical skills of all 35 participants. 
                  </p>
                  <p>
                    The field camp was structured in five phases, starting with a virtual geophysical boot camp for one week with over 200 participants, followed by in-house training, reconnaissance survey, fieldwork, and presentation of results. The program allowed students and participants to experience geophysics beyond the classroom walls and engage in technical and field activities relevant to environmental sustenance.
                  </p>
                  <p>
                    Overall, the Eastern Nigeria Geophysical Field Camp was a resounding success that provided students and participants with practical skills and knowledge relevant to environmental preservation in the 21st century. The program's impact extends beyond the individuals who participated, as it has raised awareness in the local community and provided potential solutions to mitigate environmental threats.
                  </p>
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-2">
                      <img src="{%static 'assets/img/Before_sensitization_fieldcamp2021.jpg'%}" class="img-fluid" alt=""><br>
                      <small>Photo: Cross-section of the participants before community sensitization</small>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-2">
                      <img src="{%static 'assets/img/Fieldwork_fieldcamp2021.jpg'%}" class="img-fluid" alt=""><br>
                      <small>Photo: Fieldwork</small>
                    </div>
                  </div>

                </div>
              </div>
              <!-- End child article -->
                <!-- Start child article -->
            <article class="entry entry-single">
              <div class="child-aricle">
                <h3 class="entry-title">
                  SEG-NAU FIELD CAMP 2022
                </h3>

                <h4>
                  Theme: GEOMAGIC CALABAR’22 (31st October – 6th November, 2022)
                </h4>

                <div class="entry-content">
                  <p>
                    The 2022 Field Camp of the Nnamdi Azikiwe University Geophysical Society is the third consecutive edition of the annual geophysical field camp exercise since its inception in 2020. This edition was held in the beautiful city of Calabar, Cross River State, located in the southern part of Nigeria. The project was titled “3D Geophysical Imaging for Gully Assessment in Calabar Metropolis, Nigeria”. 
                  </p>

                  <p>
                    The primary objective of this year’s edition of the field camp was structured towards engaging and acquainting the participants on field activities required to fortify and enrich their professional portfolio in order to be competitive in the global market. 
                  </p>

                  <p>
                    The 45 participants were tasked with the responsibility of delineating and characterizing the gullies present in the study area using the electrical resistivity, seismic refraction tomography and Very-Low Frequency Electromagnetic methods. These tools were combined to investigate the possibilities of gully development beyond the known extent of the gully. 
                  </p>
                  <p>
                    They made proper recommendations that would enhance policies on gully remediation and hazard mitigation, and created awareness of the relevance and contribution of the Society of Exploration Geophysicists (SEG) in creating a conducive, hazard-free environment and advancing the world of geophysics.
                  </p>


                  <div class="row">
                    <div class="">
                      <img src="{%static 'assets/img/Fieldcamp2022_calabar.jpg'%}" class="img-fluid" alt="Fieldcamp2022_calabar"><br>
                      <small>Photo: Field Work</small>
                    </div>
                  </div>

                </div>
              </div>
              <!-- End child article -->
              <div class="child-aricle">
                <h3 class="entry-title">
                  GEOSCIENTIFIC FIELD CAMPAIGN 2023 
                </h3>

                <h4>
                  Theme: SPONSORED BY THE AAPG FOUNDATION AND SEG FOUNDATION (8th January – 9th March, 2023)
                </h4>

                <div class="entry-content">
                  <p>
                    The Geoscientific Field Campaign was centred on the research project titled “Geologic Imaging for Mineral Exploration and Gully Investigation/Characterization in Ukpor, Nigeria”. The 55 participants employed various geophysical and geotechnical methods, as well as drone photogrammetry, to explore for minerals and characterize gullies in Ukpor. 
                  </p>
                  <p>
                    This Campaign provided an opportunity for participants to learn new and emerging trends in the global geoscience ecosystem, with focus on sustainable development and new technologies. 
                    The 2023 field campaign has been structured to hold on weekends to ensure that it does not clash with core academic program while allowing students to fully engage with and learn from the experience.
                  </p>
                  
                  <p>
                    In the end, the participants gained practical experience in using various geophysical and geotechnical methods, such as the vertical electrical sounding, electrical resistivity tomography, and aerogravity data, for mineral exploration and gully characterization. They learned about the applications of drone photogrammetry in geoscience research and how it can be used to improve the accuracy and efficiency of data collection.
                  </p>
                  <p>
                    Finally, the participants understood the importance of sustainable resource management and how our work contributes to the United Nations Sustainable Development Goals (SDGs). The field campaign participants not only gained valuable skills and knowledge, but also made a positive impact to the world through their contributions to sustainable resource management. 
                  </p>
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-2">
                      <img src="{%static 'assets/img/GeoMagic_fieldwork2023.jpg'%}" class="img-fluid" alt=""><br>
                      <small>Photo: Participants in a gully site </small>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-2">
                      <img src="{%static 'assets/img/GeoMagic_Outreach_Team_with_Ukpor_High_Sch_Student.jpg'%}" class="img-fluid" alt=""><br>
                      <small>Photo: Cross section of the outreach team and some high school students</small>
                    </div>
                  </div>
                  <p>

                </div>
              </div>
              <!-- End child article -->
              
            </article><!-- End blog entry -->

              
            </article><!-- End blog entry -->

          </div><!-- End blog entries list -->

          <div class="col-lg-4">

            <div class="sidebar">

              <h3 class="sidebar-title">See Also</h3>
              <div class="sidebar-item categories">
                <ul>
                    <li><i class="bx bx-chevron-right"></i> <a href="{%url 'symposium'%}">SEG/Chevron Student Leadership Symposium</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="{%url 'conferences'%}">SEG Conferences</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="{%url 'outreach'%}">Outreach Programs</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="{%url 'challenge-bowl'%}">SEG Challenge Bowl</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="{%url 'scholarships'%}">SEG Scholarships</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="{%url 'workshop'%}">Webinars & Workshop</a></li>
                  </ul>
              </div><!-- End sidebar categories-->

            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Single Section -->

  </main><!-- End #main -->


  {%endblock%}