{%extends "partials/base.html"%}
{%load static%}
{%block title%}Workshop and Webinars{%endblock%}
{%block content%}


  <main id="main">

    <!-- ======= Blog Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>SEG-NAU WEBINARS AND WORKSHOPS</h2>

          <ol>
            <li><a href="{%url 'home'%}">Home</a></li>
            <li>SEG-NAU WEBINARS AND WORKSHOPS</li>
          </ol>
        </div>

      </div>
    </section><!-- End Blog Section -->

    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">
            <!-- Start child article -->
            <article class="entry entry-single">
              <div class="child-aricle">
                <h5>
                  ABOUT SEG-NAU WEBINARS AND WORKSHOPS
                </h5>

                <div class="entry-content">
                  <p>
                    The SEG-NAU Webinars and workshops are monthly events the chapter has designed to improve all her members both academically and for the industry. During this our participating members and sometimes non members are trained both on Geosciences, scholarship appplications, technical presentaions, etc.
                  </p>
                  <p>
                    Some of our previous workshop and webinars are listed below:
                  </p>

                </div>
              </div>
              <!-- End child article -->
              <div class="child-aricle">

                <h5>
                  COMPASS TRAINING SESSION 
                </h5>

                <div class="entry-content">
                  <p>
                    This event took place on 7th March 2020. This is training in which participants (first-year students of the department) were taught how to use a compass, measure the attitude of beds, bearings as well as the trend of structures The program was held in the GLS classroom and outside the classroom for practical.
                  </p>

                </div>
              </div>
              <!-- End child article -->
               <!-- End child article -->
               <div class="child-aricle">

                <h5>
                  CAREER WEBINAR SERIES  
                </h5>

                <div class="entry-content">
                 <p>
                  The chapter presented an online research, question and answer series. The Series took place on 3rd April 2020 and 24th April 2020 with titles: “PROFESSIONAL CAREER AS A GEOSCIENTIST” and “IMPORTANCE AND CHALLENGES OF GEOSCIENTISTS IN INFRASTRUCTURAL DEVELOPMENT” respectively. These events took place on the SEG-NAU WhatsApp platform where we had up to eighty students in attendance.
                 </p>
                 <p>
                  The third series was titled “GAS HYDRATES AND THE EVOLVING NIGERIAN GEO-ECONOMY” facilitated by Mr. Ahaneku Chibuzor and held on 15th May 2020. This event enlightened the participants on various fields of geosciences and their relevance in the 21st-century labor market. With this strategy and performance, we were able to amass more members from various levels. 
                 </p>
                </div>
              </div>
              <!-- End child article -->
               <!-- End child article -->
               <div class="child-aricle">

                <h5>
                  SEG-NAU SCHOLARSHIP WORKSHOP 2020 
                </h5>

                <div class="entry-content">
                  <p>
                    The 2-day SEG Scholarship webinar took place on 17 - 18 November, 2020 on Google Meet. This program hosted 3 of SEG Scholars from the chapter. The aim of the event was to publicize the great and enormous benefits that the society has in store with emphasis on successful application for the Scholarship grant. The event targeted both the undergraduate and postgraduate students of universities in Nigeria and we had a total number of 55 participants. Amongst these participants were students from Obafemi Awolowo University, Federal University of Technology Owerri Geophysical Society and University of Calabar Geophysical Society. Recordings of the webinar was sent across to other students of the university who could not attend the event.
                  </p>
                </div>
              </div>
              <!-- End child article -->
               <!-- End child article -->
               <div class="child-aricle">

                <h5>
                  INTERACTIVE SESSION WITH YOUNG PROFESSIONALS 
                </h5>

                <div class="entry-content">
                 <p>
                  The chapter collaborated with the SEG University of Lagos student’s chapter to host an interactive session with young professionals on 12th December 2020. After the lockdown, we organized interactive sessions, we invited young professionals from SEG, NAPE, SPE, SEG-UNICAL chapter, to chat with our students, regale them on how they have been able to keep their heads during the pandemic, how they stayed relevant, challenges faced, and success stories celebrated. 
                 </p>
                </div>
              </div>
              <!-- End child article -->
              <!-- End child article -->
              <div class="child-aricle">

                <h5>
                  SEG ANNUAL PRESENTATION SERIES 2020
                </h5>

                <div class="entry-content">
                 <p>
                  This program was designed to help undergraduates research, discuss and present a definite topic. The students were grouped into different teams, given the same topic and a young professional was assigned to each of the teams to supervise and guide the students. The program was judged by graduates and lecturers as different teams presented their topics. The program served as a motivation to other students who wanted to build their stage charisma and ability to speak in public as all the participants were issued a certificate of performance and the winners awarded.
                 </p>
                </div>
              </div>
              <!-- End child article -->
              <!-- End child article -->
              <div class="child-aricle">

                <h5>
                  SEG AWARENESS WEEK 2020 
                </h5>

                <div class="entry-content">
                  <p>
                    It was a one-week program aimed at creating awareness about the world of geosciences and its branches. The first day started with a career talk in different secondary schools within the university's terrain. The students were made to see the beauty and career opportunities in geosciences. The second and third day was mostly intense lectures to the undergraduates on the step-by-step guide on successfully applying for SEG scholarship. The speakers were SEG scholarship awardees of different years
                  </p>
                  <p>
                    The lecture was aimed at enhancing the student’s essay writing skills. On the fourth day, we paid a visit to an orphanage, bringing them gifts, joy, and laughter. Then on the fifth day, we had our games, both indoors and outdoors games. The students got the chance to exercise themselves outside the classroom. The last day was a university-wide clean-up spare headed by the SEG_NAU chapter which was aimed at walking against environmental pollution. The turn-up of students to sanitation was massive and quite productive.
                  </p>
                </div>
              </div>
              <!-- End child article -->
              <!-- End child article -->
              <div class="child-aricle">

                <h5>
                  ON-CAMPUS GEOPHYSICAL INTERNSHIP PROGRAM (O-GIP )
                </h5>

                <div class="entry-content">
                 <p>
                  The training was for 22 applicants of 2020 field camp who could not be accommodated into the main field camp. The event featured virtual geophysical field trip, IP12win and Surfer map production trainings, training on hydraulic characterization, vulnerability assessment and pollution status evaluation. The students were equipped with relevant knowledge and skills for groundwater resource management.
                 </p>
                </div>
              </div>
              <!-- End child article -->
              <!-- End child article -->
              <div class="child-aricle">

                <h5>
                  SEG WEEK (19 April – 23 April 2021): 
                </h5>

                <div class="entry-content">
                 <p>
                  The reestablishment of the chapter for 5 years was celebrated in grand style. The week featured Lecture Series and Workshops on Hydrocarbon Prospecting in Nigeria, Entrepreneurship in Geosciences, Technical/Research writing, and How to Access Undergraduate and Graduate Funding Opportunities. Distinguished Students Awards Competition, Poster Challenge, Virtual Excursion in electrical resistivity survey using the Schlumberger array for groundwater exploration with the University of Petroleum Studies India and Field Trip.
                 </p>
                 <p>
                  Finally, there was Dinner/Award Night where the Best Poster Presenter and the Distinguished Student Awards were given out. Also, honorariums were given to the staff adviser, chapter executives and faculty members of the university who have contributed to the growth and development of the chapter and the new customized shirt for the chapter was unveiled. The event was attended by up to 120-chapter members.
                 </p>
                </div>
              </div>
              <!-- End child article -->
              <!-- End child article -->
              <div class="child-aricle">

                <h5>
                  OUTREACH PROPOSAL CHALLENGE (16 July – 3 August 2021)
                </h5>

                <div class="entry-content">
                  <p>
                    The competition which lasted for three weeks was created to spur the creative and strategic thinking capacity of chapter members. 5 teams made of 5 members each (a total of 25 undergraduate students) submitted their proposals for an outreach program aimed at making impact within our surrounding community and raising the awareness of geosciences among high schools. Two winning teams emerged and were announced at the 2021 SEG Nanoconference.
                  </p>
                </div>
              </div>
              <!-- End child article -->
              <!-- End child article -->
              <div class="child-aricle">

                <h5>
                  GENERAL MEETING/STUDENTS INTERACTIVE SESSIONS (21 July 2021) 
                </h5>

                <div class="entry-content">
                  <p>
                    This was a general physical meeting held at the Geological Science Auditorium of the university to familiarize new chapter members with benefits of SEG in their career journey. We also had a lecturer share tips and advice on how to ace in academic studies. The new chapter members had the opportunity to ask questions on their most pressing academic and career questions. This was attended by up to 150 students.
                  </p>
                </div>
              </div>
              <!-- End child article -->
               <!-- End child article -->
               <div class="child-aricle">

                <h5>
                  NATIONAL VIRTUAL LEADERSHIP SYMPOSIUM (October 2021)
                </h5>

                <div class="entry-content">
                  <p>
                    This a mentorship program which drew 58 student leaders from 10 universities in Nigeria. Mr Ogonna Emenaha and Mr Chijioke Orabueze who were past president of the chapter shared their experiences on effective leadership in a new and growing chapter with the participants. Outcomes of the symposium includes student chapter grant applications by chapters under our mentorship.
                  </p>
                </div>
              </div>
              <!-- End child article -->
               <!-- End child article -->
               <div class="child-aricle">

                <h5>
                  REGIONAL VIRTUAL SCHOLARSHIP WORKSHOP 2.0 (October 2021) 
                </h5>

                <div class="entry-content">
                  <p>
                    A total of 50 undergraduate and postgraduate students participated in the workshop. The event featured step by step guide for the 2022 SEG scholarship application and CV clinic by 4 SEG scholarship recipients. Furthermore, there were series of postworkshop virtual and physical mentorship to guide interested applicants from both the chapter and other chapters through the application process of the scholarship.
                  </p>
                </div>
              </div>
              <!-- End child article -->
               <!-- End child article -->
               <div class="child-aricle">

                <h5>
                  CHAPTER VISIT TO ITB CHAPTER (18 October 2021)
                </h5>

                <div class="entry-content">
                  <p>
                    This was a virtual visit program organized in collaboration with SEG Bandung Institute of Technology Student Chapter.  The event converged 20 student chapter executives from both SEG ITB chapter and SEG NAU chapter. The event fostered exchange of ideas and experiences between individual schools. The chapters identified gaps and learned from better performing school.
                  </p>
                </div>
              </div>
              <!-- End child article -->
               <!-- End child article -->
               <div class="child-aricle">

                <h5>
                  PRESENTATION SERIES (23 April and 3 December 2021):  
                </h5>

                <div class="entry-content">
                  <p>
                    With the aim to grow the presentation and team work skills of our chapter, 40 students were grouped into 8 teams who presented on the applications of an assigned coursework. They were judged by 4 judges and the best presenting team selected.
                  </p>
                </div>
              </div>
              <!-- End child article -->
               <!-- End child article -->
               <div class="child-aricle">

                <h5>
                  END OF THE YEAR CELEBRATION AND AWARD NIGHT (3 December 2021) 
                </h5>

                <div class="entry-content">
                  <p>
                    The chapter’s award as the “Most Improved SEG student chapter” was celebrated in grand style with up to 150 student members present and the Best Presenting Team for the presentation series were awarded.
                  </p>
                </div>
              </div>
              <!-- End child article -->
               <!-- End child article -->
               <div class="child-aricle">

                <h5>
                  ASK A SCIENTIST STUDENT WOMEN NETWORK PROGRAM (12 December 2021)
                </h5>

                <div class="entry-content">
                  <p>
                    This was a virtual networking event organized in collaboration with Federal University of Technology Akure student chapter. This event brought together 30 females in Geoscience from both undergraduate and postgraduate levels in Nigeria to interact and learn from Maitri Erwin, the Principal Program Manager, Microsoft Azure. The participants were inspired to practice Geophysics through the career advice offered by Maitri.
                  </p>
                </div>
              </div>
              <!-- End child article -->
               <!-- End child article -->
               <div class="child-aricle">

                <h5>
                  GEO-CODE 1.0 (Python for Geoscience) (11th – 13th February 2022)
                </h5>

                <div class="entry-content">
                  <p>
                    This program was initiated in collaboration with THOUGHTOISE and geared towards intimating students with relevant computational skills in geoscience. Students were introduced to Python programming language and its pertinence to geoscience. About 25 of our chapter members registered and participated in the training and there was a follow-up session afterwards to access and monitor students learning progress. The program had both physical and virtual sessions. 
                  </p>
                </div>
              </div>
              <!-- End child article -->
               <!-- End child article -->
               <div class="child-aricle">

                <h5>
                  INTRODUCTION TO CASED HOLE LOGGING (11th March 2022) 
                </h5>

                <div class="entry-content">
                 <p>
                  In collaboration with Piopetro, Arab Guru, SPE-NAU and the University of Arizona hosted a webinar series on “Introduction to cased hole logging”. This program which held in March 2022 was designed to equip the student on basic knowledge to cased-hole logging. 
                 </p>
                </div>
              </div>
              <!-- End child article -->
               <!-- End child article -->
               <div class="child-aricle">

                <h5>
                  GRADUATE’S GUIDE TO THE JOB MARKET (5th,12th ,19th and 27th of February 2022)  
                </h5>

                <div class="entry-content">
                  <p>
                    The objective of the program was to engage fresh graduates to the rudiments of a successful life as a geoscientist after school. This program was hosted on the 5th,12th ,19th and 27th of February 2022 in collaboration with Piopetro and had various participants from all over the world.
                  </p>
                </div>
              </div>
              <!-- End child article -->
               <!-- End child article -->
               <div class="child-aricle">

                <h5>
                  TECHNICAL WORKSHOP ON SEISMIC REFRACTION METHOD (April 30 – 15 May 2022)
                </h5>

                <div class="entry-content">
                 <p>
                  In collaboration with other 13 Nigerian Student SEG student chapters hosted the technical workshop on Seismic Refraction Method. This program was to equip the chapter members with the needed skills on seismic data acquisition, analysis, interpretation and its application to the real world. 
                 </p>
                </div>
              </div>
              <!-- End child article -->
         
              <!-- End child article -->
              <div class="child-aricle">

                <h5>
                  SEG SUSTAINABLE DEVELOPMENT VIDEO CONTEST (5 – 22 May 2022)
                </h5>

                <div class="entry-content">
                 <p>
                  The video challenge was titled “How would you improve the image of Geoscience for Sustainability in Nigeria?”. It was open for all levels of students. Participants were tasked to make a maximum of 2-minute video to explain in details, how they aim to improve the image of Geoscience for sustainability in Nigeria. We received 9 entries which were reviewed by our judges; Dr Dim Princeton and Dr Michael Kehinde. The judges selected the three top videos and prices were awarded. This competition was aimed at improving healthy competition amongst student geoscientist and also build their problem solving and research capacity skills.
                 </p>
                </div>
              </div>
              <!-- End child article -->
              <!-- End child article -->
              <div class="child-aricle">

                <h5>
                  WORLD ENVIRONMENT DAY WEBINAR (6th June 2022)
                </h5>

                <div class="entry-content">
                <p>
                  In commemoration of the world environment day, SEG-NAU collaborated with AAPG Nnamdi Azikiwe University Chapter and GeoscienceNigeria to host a webinar on the 6th of June 2022. The webinar themed “The Role of Geoscientists in National Environmental Emergency – Case Study from the UK” was facilitated by Dr Michael Kehinde (Environment Agency) who introduced the participants to the critical role of geosciences in remediating environmental challenges.
                </p>
                </div>
              </div>
              <!-- End child article -->
              <!-- End child article -->
              <div class="child-aricle">

                <h5>
                  SEG-NAU REGIONAL VIRTUAL LEADERSHIP WORKSHOP 2.0 (17th – 18th June 2022): 
                </h5>

                <div class="entry-content">
                 <p>
                  The workshop was hosted in continuous fulfilment of our mission to increase the awareness of SEG in Nigerian Geoscience institutes. The training was intensive and educative as Mrs Vivian O. Oguadinma, Mr Ogonna Emenaha and Joan Marie Blanco exposed the participants to the benefits of volunteering and its principles in career growth, how to run a viable SEG student chapter and how to access SEG Student Chapter Grants. Student leaders from across Nigerian geoscience institutes attended the workshop. 
                 </p>
                </div>
              </div>
              <!-- End child article -->
              <!-- End child article -->
              <div class="child-aricle">

                <h5>
                  SEG-WN/SEGNAU/SEGFUTA ASK A SCIENTIST PROGRAM (6th December 2022)
                </h5>

                <div class="entry-content">
                  <p>
                    This was a virtual networking event organized in collaboration with Federal University of Technology Akure student chapter. This event brought together 100 participants in Geoscience from both undergraduate and postgraduate levels in Nigeria to interact and learn from Maitri Erwin, the Principal Program Manager, Microsoft Azure. The participants were inspired to practice Geophysics through the career advice offered by Maitri.with Olajumoke Ajayi, CEO Ingentia Energies Ltd.  About 100 participants from FUTA and NAU
                  </p>
                </div>
              </div>
              <!-- End child article -->
              <!-- End child article -->
              <div class="child-aricle">

                <h5>
                  SEG-NAU SCHOLARSHIP WORKSHOP 3.0 (20th – 21st January 2023)
                </h5>

                <div class="entry-content">
                  <p>
                    In collaboration with SEG FUTA, EKSU, PTI and UI, SEG-NAU hosted 4 SEG Scholars; Juliet Nnaemeka Aninwetalu, Chinazaekpere Mary Arukwe, Paul Odewale, Fidelis Onwuagba from SEG-NAU, SEG-FUTA and Kansas State University USA and the SEG Students and Early Career Adviser Jessica Dostal. The aim of the event was to publicize the great and enormous benefits that the society has in store with emphasis on successful application for the Scholarship grant. The event targeted both the undergraduate and postgraduate students of universities in Nigeria. 
                  </p>
                </div>
              </div>
              <!-- End child article -->
              
            </article><!-- End blog entry -->

          </div><!-- End blog entries list -->

          <div class="col-lg-4">

            <div class="sidebar">

              <h3 class="sidebar-title">See Also</h3>
              <div class="sidebar-item categories">
                <ul>
                    <li><i class="bx bx-chevron-right"></i> <a href="{%url 'symposium'%}">SEG/Chevron Student Leadership Symposium</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="{%url 'fieldcamps'%}">SEG Field Camps</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="{%url 'outreach'%}">Outreach Programs</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="{%url 'challenge-bowl'%}">SEG Challenge Bowl</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="{%url 'scholarships'%}">SEG Scholarships</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="{%url 'workshop'%}">Webinars & Workshop</a></li>
                  </ul>
              </div><!-- End sidebar categories-->

            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Single Section -->

  </main><!-- End #main -->


  {%endblock%}